body {
background-color: #f1f1f1;
}
h4 {
  color: blue;
}
.bold {
  font-weight: bold;
}
.font-it {
  font-style: italic;
}
.ander-l {
  text-decoration: underline;
}
.big-lett {
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
.bgc-grey {
background-color: grey;
}